@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

img {
  max-width: 100%;
}

.bg-image {
  width: 90px;
}

.main-continer{
  background: linear-gradient(220.5deg, #171511 25.08%, #62605E 44.29%, #FFFFFF 130.33%);;
  height: 100vh;
}




